
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  --font-color: #284B63;
}



li, a, button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: white;
  max-height: 55px;

  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
  0 5px 15px 0 rgba(0,0,0,0.08);
}

.logo {
  max-width: 300px;
  height: 50px;
  cursor: pointer;
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: var(--font-color);
  font-weight: bold;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: white;
  transition: all 0.3s ease 0s;

}

.nav-links li a:active {
  opacity: 80%;
}

.abt-button{
  padding: 9px 25px;
  background-color: var(--font-color);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;  
  transition: all 0.3s ease 0s;
  margin-left: 25px;
}

.abt_button:hover {
  background-color: white;
  transition: all 0.3s ease 0s;
}

.abt_button:active {
  opacity: 80%;
}

body {
  background-color: #D9D9D9;
}

.team-list-container {
  justify-content: space-between;
  margin: 0px 200px;
  display: flex;
  flex-direction: column;
}

.title {
  padding-top: 30px;
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 20px;
  color: var(--font-color);
}

.team-logo {
  width: 100px;
  height: 100px;
  min-width: 100px;
}

.team-container {
  --xy-padding: 10px;
  --border-radius: 12px;
  --xy-margin: 10px;
  margin: 1em 0;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
  0 5px 15px 0 rgba(0,0,0,0.08);
  border-radius: var(--border-radius);
}

.team-container-title {
  display: flex;
  flex-direction: row;
  background: white;
  user-select: none;
  cursor: pointer;
  padding: var(--xy-padding);
  transition: 0.4s;
  transition-delay: 0.4s;
  transition-property: border-radius;
  color: var(--font-color);
  border-radius: var(--border-radius);
}

.team-container-title.active {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  transition-delay: 0s;
}

.team-container-title:hover {
  background-color: #eeeeee;
}

.team-container-content {
  padding: 0 var(--xy-padding);
  line-height: 2;
  font-size: 0.85em;
  border-top: 2px dashed var(--font-color);
  background-color: white;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.team-container-content-wrapper {
  overflow: hidden;
  max-height: 0;
  transition: 0.5s;
  transition-delay: 0s;
  transition-property: max-height;
}

.team-container-content-wrapper.active {
  max-height: 100px;
  transition-delay: 0.2s;
}

.team-name {
  margin-top: 8px;
  color: var(--font-color);
  font-weight: bold;
}

.team-info {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  height: 100px;
  width: 100%;
}

.team-stats {
  list-style-type: none;
  padding-top: 15px;
  justify-content: space-evenly;
  display: flex;
}

.team-stats li{
  display: inline-block;
  padding: 0px 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.dropdown {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.dropdown-menu {
  position: absolute;
  background-color: black;
  width: 100%;
  

}

.expand {
  width: 100%;
  
}
